<div class="col mt-5" {{ attributes }}>
    <turbo-frame id="post_{{ post.id }}">
        <div class="card" style="width: 400px; height: 350px;">
            <h5 class="card-header">{{ post.title | u.truncate(35, '...') }}</h5>
            <div class="card-body">
                {#            <p class="card-text"> #}
                {#                <input data-model="post.title"> #}
                {#                <textarea data-model="post.body"></textarea> #}
                {#            </p> #}
                {#            <hr> #}
                {#            <h5>Preview :</h5> #}
                <p class="card-text">
                    {{ post.body | u.truncate(100, '...') }}
                </p>
            </div>
            <div class="card-footer">
                <i>
                    {{ post.createdAt |date('Y-m-d') }}
                </i>
                <a href="{{ path('blog_post_edit', {'id': post.id}) }}" class="btn btn-sm btn-info text-right">
                    Modify
                </a>
                {#            <a href="{{ path('blog_post_delete', {'id': post.id}) }}" class="btn btn-sm btn-danger text-right"> #}
                {#                Delete #}
                {#            </a> #}
                <button class="btn btn-sm btn-dark" data-action="live#$render">
                    Refresh Post
                </button>
            </div>
        </div>
    </turbo-frame>
</div>